model: Qwen/Qwen3-1.7B

modelParameters:
  maxModelLen: 8192

inference:
  serviceName: qwen3-1-7b-vllm
  serviceNamespace: default
  accelerator: gpu
  framework: vllm

  modelServer:
    image:
      repository: public.ecr.aws/deep-learning-containers/vllm
      tag: 0.11.0-gpu-py312
